@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .filter-brightness {
    filter: brightness(90%);
  }

  .hover-shadow {
    box-shadow: inset 0px 0px 8px 0px #a5f300, inset 0px 0px 8px 0px #a5f300;
  }
}

@font-face {
  font-family: 'Bobcat';
  src: url('./fonts/Bobcat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}